*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr;
}

.header{
    background-color: blue;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    font-weight: 700;
}

.new-book{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form-div{
    background-color: white;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    height: 70%;
    display: none;
}

.add-newbook{

    border: none;
    background-color: lightgray;
    border-radius: 5px;
    width: 20px;
    height: 16px;
}

.bookForm{
    display: flex;
    flex-direction: column;
    justify-self: end;
    font-size: 10px;
}

.add-button{
    border: none;
    background-color: white;
    width: 150px;
    height: 60px;
    border-radius: 40px;
}
.add-button:hover,
.book-isread:hover {
    background-color: lightgray;
    color: white;
  }


.main-content{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.shelf{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 150px));
}

.book{
    background: linear-gradient(135deg, white 0%, rgba(24, 77, 104, 0.8) 100%);
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book > p{
    font-style: italic;
    margin-top: 10px;
}

.delete-book{
    border: none;
    background-color: red;
    border-radius: 10px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}
.delete-book:hover{
    background-color: pink;
}

.book-isread{
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: 20px;
}

.isRead{
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
}



